// app背景
$pageBg: #f3f3f4;
// 线性过渡背景
$lineBg: linear-gradient(-60deg, #fb2148, #fd5747);
// 未选中标签颜色
$notActive: #1a0505;
// 选中标签 (主题色)
$activeNav: #fb2148;
// 选中标签图标颜色
$activeIcon: linear-gradient(-60deg, #fb2148, #fd5747);
// 两边留白
$blank: 0.266667rem;
// 按钮禁止点击
$btnNotAvtive: #ff98aa;
// 按钮可以点击
$btnAvtive: #fe5747;
